@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-green: 103 204 107;
  --secondary-green: 114 153 117;
  --fourth-green: 67 160 70;
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
p,
a {
  @apply font-Phoppins;
}
