@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-green: 103 204 107;
  --secondary-green: 114 153 117;
  --fourth-green: 67 160 70;
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
p,
a {
  @apply font-Phoppins;
}

.e-card {
  background: transparent;
  box-shadow: 0px 8px 28px -9px rgba(0, 0, 0, 0.45);
  position: relative;
  width: 30rem;
  height: 40rem;
  overflow: scroll;
  margin-bottom: 15px;
  border-radius: 16px;
  overflow: hidden;
}


